<table style="width: 100%;height: 100%;vertical-align: top;">
    <tr style="width: 100%;height: 100%">
        <td style="width: 50%;height: 100%">
            <app-view-courses></app-view-courses>
        </td>
        <td>
            <table style="vertical-align: top;">
                <tr style="height: 50%;">
                    <td> <app-search-trainer></app-search-trainer>   </td>
                </tr>
                <tr style="height: 50%;margin-top: 20px;">
                    <td>  <app-align-trainer-course></app-align-trainer-course> </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
